@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: #999797bd;
    list-style: none;
    text-decoration: none;
  }
 
  
  header{
  
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav{
    width: 70%;
  }
  ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  li{
    list-style: none;
    color: rgb(6, 6, 7);
    cursor: pointer;
    font-size: 30px;
    transition: .5s;
    font-family: 'kdam thomr Pro',sans-serif;
  }
  li:hover{
    color: rgb(210, 122, 22);
  }
  #logo{
    width: 90px;
    height: auto;
    
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 50%;
    box-sizing: border-box;
}

.carousel img {
    width: 80%;
    height: auto;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.973);
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    transition: background 0.3s;
}

.carousel-btn-left {
    left: 10px;
}

.carousel-btn-right {
    right: 10px;
}

.carousel-btn:hover {
    background: rgba(245, 240, 240, 0.8);
}


#trailer-container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;

}

.content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.trailer{
    width: 50%;

}

    


.button{
    width: 200px;
    height: 60px;
    background-color:#d21617;
    color: #fff;
    padding: 8px 10px;
    border: 5px;
    cursor: pointer;
    transition: 5s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
    
}
.button:hover {
    background: #fff;
    color:rgb(255, 208, 0);
}
.actor-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.cards-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;

}
.card{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 3px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 17px;
    font-family: 'kdam thomr Pro',sans-serif;

}

 footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
span{
    color: #fff;
    font-family: 'kdam thomr Pro',sans-serif;

}
.footer-navigation{
    display:none ;

}
.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media(max-width:768px){
    .footer-navigation{
        display: block;
    }
    nav{
        display: none;
    }
    #banner{
        background-position: 40%;

    }
    #trailer-container{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;


    }
    .content{
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .trailer{
        width: 100%;
    }
    #sinopse{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .description{
        width: 100%;
    }
    .button{
        width: 100%;
        margin: 30px;
    }
    .cards-content{
        grid-template-columns: 1fr;
        margin-top: 150px;
    }

}

#banner{
    background-image : url("./imagem/foto2.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
    

}

.content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.trailer{
    width: 50%;

}
#sinopse{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;

}
.description{
    color: #fff;
    font-size: 19px; font-family: 'kdam thomr Pro',sans-serif;
   
    width: 70%;
}

    


.button{
    width: 200px;
    height: 60px;
    background-color:#d21617;
    color: #fff;
    padding: 8px 10px;
    border: 5px;
    cursor: pointer;
    transition: 8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
    
}
.button:hover {
    background: #fff;
    color: #000;
}
.actor-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}
.cards-content{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;

}
.card{
    width: 105%;
    height: 500px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 2s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #201a0b;
    font-size: 20px;
    font-family: 'kdam thomr Pro',sans-serif;

}
.card:hover{
    transform:scale(1.02)
}
.banner-1{
    background-image: url('./imagem/2.webp');
}
.banner-2{
    background-image: url('./imagem/3.webp');
}
.banner-3{
    background-image: url('./imagem/4.webp');
}
 
.banner-4{
    background-image: url('./imagem/5.webp');
}
 
.banner-5{
    background-image: url('./imagem/7.webp');
}
 
.banner-6{
    background-image: url('./imagem/motor\ e\ botoeira.webp');
}
 

 footer{
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
span{
    color: #fff;
    font-family: 'kdam thomr Pro',sans-serif;

}
.footer-navigation{
    display:none ;

}
.footer-list{
    display: flex;
    flex-direction: column;
    align-items: center;

}
@media(max-width:768px){
    .footer-navigation{
        display: block;
    }
    nav{
        display: none;
    }
    #banner{
        background-position: 40%;

    }
    #trailer-container{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;

    }
    .content{
        width: 95%;
        display: flex;
        flex-direction: column;
    }
    .trailer{
        width: 100%;
    }
    #sinopse{
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .description{
        width: 100%;
    }
    .button{
        width: 100%;
        margin: 30px;
    }
    .cards-content{
        grid-template-columns: 1fr;
        margin-top: 150px;
    }

}


.footer-navigation {
  display: none;

}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;

}

input[type=radio]:checked + label:after {
opacity: 1;
}
.btn-block {
margin-top: 10px;
text-align: center;
}
button {
width: 200px;
padding: 20px;
border: none;
border-radius: 3px; 
background:#d21617;;
font-size: 30px;
color: #0c0a0a;
cursor: pointer;
}
button:hover {
background:#fff;
}

    


 

  
  
 